.changePassword-body {
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
}

.changePassword-login-container {
    border: 1px solid white;
    background-color: transparent;
    margin-top: 100px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.changePassword-login-container h3,
.changePassword-login-container p,
.changePassword-login-container a {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.changePassword-fa-user-lock {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
}

.changePassword-form-control {
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

.changePassword-btn-custom {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    margin-bottom: 10px;
    height: 35px;
}
