.forgotPassword-body {
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/18262.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.forgotPassword-login-container {
    border: 1px solid white;
    background-color: transparent;
    margin-top: 100px;
    padding: 20px;
    border-radius: 8px;
}

.forgotPassword-login-container h3,
.forgotPassword-login-container p,
.forgotPassword-login-container a {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.forgotPassword-form-control {
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

.forgotPassword-btn-custom {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
}
