.main-navbar-dark {
    background-color: #1c1c1c;
}
.main-nav-link {
    margin-right: 20px; 
    font-size: 1.1rem;
    margin-left: 50px; 
}
.main-nav-item {
    font-weight: bold;
    color: #ff0000 !important;
}
.main-left{
    margin-left: auto !important;
}
.main-btn{
    color: #ff0000 !important;
    background-color: #1c1c1c !important;
    border-color: #1c1c1c !important;
}
.navbar-toggler {
    background-color: lightgray; 
    border: none; 
}
